# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Scripting3Axes.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Dev\Scripting3Axes\.idea\.idea.Scripting3Axes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
